@{
    ViewData["Title"] = "Deseja excluir  contatos";
}

<dvi>
    <h3>Realmente deseja excluir esse contato</h3>
</dvi>

<a class="btn btn-primary" role="button">Cancelar</a>
<a class="btn btn-danger" role="button">Comfirmar exclusão</a>

