@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">

    <h1 class="display-4">Listagem de contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Campo</th>
                <th scope="col">Dados</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Nome</th>
                <td>Mark Otto</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">CPF</th>
                <td>123.456.789-00</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">E-mail</th>
                <td>mark.otto@example.com</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Telefone</th>
                <td>(11) 98765-4321</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Instagram</th>
                <td>markotto</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Endereço Completo</th>
                <td>Rua Exemplo, 123, São Paulo - SP</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar novo contato</a>
    </div>

</div>
